.journalParentContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.journalContainer {
  /* border: 2px solid red; */
  position: fixed;
  top: 200px;
  left: 0;
  width: 370px;
  /* border: 1px solid; */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin-left: 30px;
  border-radius: 10px;
}
.closeandDraft {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 350px;
}
.closebutton {
  border: none;
  color: rgb(0, 0, 0);
  background: none;
  font-size: 25px;
}

.draft {
  font-size: 20px;
  color: var(--brand-color);
}
.titleInput {
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  margin-left: 2px;
  border: 1px solid rgba(10, 10, 14, 0.342) !important;
  margin-bottom: 10px;
}

.titleInput:focus {
  border-color: #007bff !important;
}

.textarea {
  height: 150px;
  padding: 20px 5px;
}
.saveContainer {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid; */
  width: 100%;
}
.save {
  font-size: 16px;
  color: var(--brand-color);
  background: none; /* use your theme color */
  border: none;
  border-radius: 6px; /* rounded corners */
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.save:hover {
  background-color: #ffffff; /* darker shade on hover */
}
