.journalParentContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  /* border: 2px solid yellow; */
}
.journalContainer {
  /* border: 2px solid red; */
  position: fixed;
  width: 90%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  z-index: 9999;

  border-radius: 10px;
  padding: 0.5rem;
}
.closeandDraft {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid rgb(0, 255, 34); */
  width: 100%;
}
.closebutton {
  border: none;
  color: rgb(0, 0, 0);
  background: none;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.draft {
  font-size: 1rem;
  color: var(--brand-color);
  padding-right: 1.2rem;
}
.titleInput {
 
  border-radius: 10px;
 border: 1px solid rgba(10, 10, 14, 0.342) !important;
 width: 100%;
 padding-top: 0.3rem;
 padding-bottom: 0.3rem;
 

}

.titleInput:focus {
  border-color: #007bff !important;
}

.textarea {
  height: 150px;
  padding: 20px 0.2rem;
  width: 100%;
}
.saveContainer {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid; */
  width: 100%;
}
.save {
  font-size: 1rem;
  color: var(--brand-color);
  background: none; /* use your theme color */
  border: none;
  border-radius: 6px; /* rounded corners */
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.save:hover {
  background-color: #ffffff; /* darker shade on hover */
}
