# dependencies and builds
node_modules/
dist/
build/

# environment variables
.env

# specific files to ignore
src/ForTesting.tsx
src/ForPages/FeedPages.tsx
src/ForPages/JournalPage.tsx
src/ForPages/MoodPage.tsx
src/ForPages/SupportPage.tsx
src/For TSX/Common Component/Navbar.tsx
src/For TSX/Common Component/Navbar.css
src/For TSX/Common Component/
