.buttoncontainer {
    display: flex;
  /* border: 2px solid red; */
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  box-sizing: border-box;

}
.ButtonDesign{
    border: none;
    color: var(--white);
    background-color: var(--brand-color);
    padding: 1rem;
    border-radius: 13px;
    width: 100%;
}