.inputWrapper {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  margin: 1rem;
}
.floatingLabel {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  padding: 0 1rem;
  color: var(--text-secondary);
  transition: 0.2s ease-in;
  z-index: 1;
  pointer-events: none;
}

.input {
  position: relative;
  width: 100%;
  padding: 1.2rem;
border: none;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: var(--fontsize-md);
  outline: none;
}
.input:focus,
input:valid {
  border: 1px solid var(--brand-color);
  background-color: var(--bg-primary);
}
.required {
  color: var(--error);
}



input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: transparent; /* hides dd/mm/yyyy */
}

/* when focused or has a value, show normally */
input[type="date"]:focus::-webkit-datetime-edit-text,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-year-field,
input[type="date"]:valid::-webkit-datetime-edit-text,
input[type="date"]:valid::-webkit-datetime-edit-month-field,
input[type="date"]:valid::-webkit-datetime-edit-day-field,
input[type="date"]:valid::-webkit-datetime-edit-year-field {
  color: var(--text-primary);
}