.dropdownWrapper {
  display: flex;
  flex-direction: column;

  margin: 1rem;
}

.label {
  position: absolute;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--text-secondary);
  opacity: 1;
  transition: 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.select {
  position: relative;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: var(--fontsize-md);
  appearance: none;
  outline: none;
}

.required {
  color: var(--error);
}


.dropdownWrapper {
  position: relative;
  margin-bottom: 16px;
}


.dropdownIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* lets user still click the select */
  color: var(--text-secondary);
  font-size: 18px;

}
