input {
  outline: none !important;
  box-shadow: none !important;
}

.inputWrapper {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  margin: 1rem;
  
 
}

.input {
  position: relative;
  width: 100%;
height: 10px;
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: var(--fontsize-md);
  outline: none;
  
}

.input:focus,
input:valid {
  border: 1px solid var(--brand-color);
  background-color: var(--bg-primary);
}

.floatingLabel {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  padding: 0 1rem;
  color: var(--text-secondary);
  transition: 0.2s ease-in;
  z-index: 1;
  pointer-events: none;
}

.input:focus + .floatingLabel,
.input:not(:placeholder-shown) + .floatingLabel {
  top: -1.5rem;
  left: 0.8rem;
  font-size: var(--fontsize-lg);
  background-color: var(--white);

  padding: 0 4px;
  transition: 0.2s ease-in;
}
.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-secondary);
  font-size: 18px;
}

.input {
  padding-left: 2.2rem; /* add space for icon */
}

.requiredAstericks {
  color: var(--error);
}

.toggleBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--fontsize-lg);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

