


 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.0rem;
  }
  
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 1rem 3.4rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s ease;
    font-family: var(--font-primary);
    /* border: 2px solid red; */
    box-shadow: 0 1px 1.5px ;
  }
  
  .btn:hover {
    border-color: var(--brand-color);
    background-color: var(--bg-secondary);
  }
  
  .icon {
    font-size: 1.3rem;
  }
@media (max-width: 430px) {


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.0rem;
  }
  
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 1rem 3.4rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s ease;
    font-family: var(--font-primary);
    /* border: 2px solid red; */
    box-shadow: 0 1px 1.5px ;
  }
  
  .btn:hover {
    border-color: var(--brand-color);
    background-color: var(--bg-secondary);
  }
  
  .icon {
    font-size: 1.3rem;
  }
}

