.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-secondary);
  font-size: var(--fontsize-sm);
  margin: 0.2rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--text-secondary);
  margin: 0 0.75rem; /* spacing around text */

}
