.congratulationsContainer {
  width: 100%;
  height: 100vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}
.subContainer{
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.205)  ; */
    border-radius: 19px;
    box-shadow: 0.2px 1px 7px 0.5px rgba(1, 1, 88, 0.151);
    padding: 1rem;
}

.congratHeading {
  font-family: var(--font-secondary);
  /* font-weight: var(--weight-medium); */
  font-weight: 500;
  font-size: 20px;
  color: var(--darkest-blue);
  line-height: 100%;
  /* border: 2px solid yellow; */
  padding: 1rem 2rem;
  text-align: center;
  line-height: 1.6;
}

.topImage img {
  width: 100px; /* adjust as needed */
  height: 100px;
  display: block;
  margin: 0 auto; /* centers the image */
}

.congratMessage {
  width: 100%;
  max-width: 400px;
  font-weight: var(--weight-regular);
  color: var(--Neutral);
  /* font-size: var(--fontsize-lg); */
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-style: var(--font-secondary);
  font-family: var(--font-secondary);
  /* border: 2px solid green; */
  padding: 0.5rem;
  margin: -10px;
    white-space: pre-line;
}
.congratButton{
    width: 350px;
}
