.ForgetPasswordContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  /* border: 2px solid; */
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.ForgetHeadingContainer {
  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: -30px;
}
.ForgetTextHeading {
  align-items: center;
  /* border: 2px solid; */
  text-align: center;
}
.ForgetSubtitles {
  width: 100%;
  display: block;
  color: var(--darkest-blue);
  font-size: var(--fontsize-xl);
  font-family: var(--font-primary);
  justify-content: center;
  margin: -0.5rem -0.5rem;
  padding: 0.5rem;
  text-align: center;
  /* border: 2px solid red; */
}

.subMessage {
  color: black;
  font-size: var(--fontsize-md);
  font-family: var(--font-primary);
  font-weight: var(--weight-regular);
}
.sendCodeMessage {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  height: 70px;
  border: 2px solid var(--brand-color);
  /* background-color: rgba(112, 112, 255, 0.144); */
  border-radius: 17px;
  text-align: center;
  /* margin: 0 6rem; */
  margin: 0 50px;
  padding: 5px;
}
.codemessage {
  font-weight: var(--weight-medium);
  font-size: 18px;
  font-family: var(--font-primary);
  font-style: medium;
  margin-top: 5px;
}
.codemessagetwo {
  font-weight: var(--weight-medium);
  font-size: 18px;
  font-family: var(--font-primary);
  font-style: medium;
  margin-top: -10px;
}
.buttomText a {
  color: var(--brand-color);
  margin-left: 5px;
  text-decoration: none;
  font-weight: var(--weight-medium);
}
.buttomText > p {
  color: var(--text-secondary);
}
.mailIcon {
  color: var(--brand-color);
  margin-right: 8px;
  font-size: 1.2rem;
  vertical-align: middle;
}
