:root {
  /* colors */

  --text-primary: #222222;
  --text-secondary: #777777;
  --text-on-color: #ffffff;
  --brand-color: #3b82f6;
  --brand-secondary: #173462;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f7fa;
  --border-primary: #3b82f6;

  /* Font Families */
  --font-primary: "Roboto", sans-serif;
  --font-brand: "Varela Round", sans-serif;

  /* Font Weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;

  /* Font Sizes */
  --text-body-sm: 12px;
  --text-body-md: 14px;
  --text-body-lg: 16px;
  --text-body-xl: 18px;

  /* Headings */
  --text-heading-md: 16px;
  --text-heading-lg: 18px;
}
