.feedContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.searchSection {
  padding: 1rem;
  margin-top: 0.5rem;
}

.postsSection {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
