.splashContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/Splashbg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* semi-transparent overlay */
.splashContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fdfdfdd2;
  z-index: 1;
}

/* actual content on top of overlay */
.splashContainer > * {
  position: relative;
  z-index: 2;
}


.splash-logo {
  width: 120px;
  height: 120px;
  animation: fadeIn 0.8s ease-in-out;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
