.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  /* border-bottom: 1px solid #e5e5e5; */
  /* border: 2px solid green; */
  padding-bottom: 10px;

  position: sticky;
  top: 0;
  z-index: 11;
  margin-top: -4rem;
  margin-bottom: -75px;
  height: 70px;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--brand-color);
  margin: 0;
}

.subtitle {
  font-size: 0.8rem;
  color: #777;
  margin-top: 0.1rem;
}

.addButton {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.addButton:hover {
  background: #0066d6;
}
.floatingBtn {
  position: absolute;
  right: 2rem;
  top: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* border: 4px solid red;
  margin-left: -300px; */
}

.floatingBtn:hover {
  background-color: #0056b3;
}
@media (max-width: 430px) {
  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    /* border-bottom: 1px solid #e5e5e5; */
    /* border: 2px solid green; */
    padding-bottom: 10px;

    position: sticky;
    top: 0;
    z-index: 11;
    margin-top: -4rem;
    margin-bottom: -75px;
    height: 70px;
  }

  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--brand-color);
    margin: 0;
  }

  .subtitle {
    font-size: 0.8rem;
    color: #777;
    margin-top: 0.1rem;
  }

  .addButton {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
  }

  .addButton:hover {
    background: #0066d6;
  }
  .floatingBtn {
    position: absolute;
    right: 3rem;
    top: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* border: 4px solid red;
  margin-left: -300px; */
  }
}
