body {
  padding: none;
  border: 0;
}
.navbar {
  display: flex;
  background-color: var(--white);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 15px 0;



}
.link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: var(--text-body-md);
  transition: color 0.3;
}

.active {
  color: var(--brand-color);
  font-weight: var(--weight-semibold);
  font-size: var(--text-body-md);
}
.iconVertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.smiley{
  font-size: 40px;
  color: var(--text-secondary);
}
.spaceimg{
  font-size: 10px;
}