body {
  padding: none;
  border: 0;
}
.navbar {
  display: flex;
  background-color: var(--background-secondary);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 10px 0;
  border-top: 1px solid #c928a1;
}
.link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: var(--text-body-md);
  transition: color 0.3;
}

.active {
  color: var(--brand-color);
  font-weight: var(--weight-semibold);
  font-size: var(--text-body-md);
}
