.searchBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  margin-bottom: -30px;
  margin-top: 90px;
  max-width: 300px;
  margin-left: 30px;


}

.icon {
  color: #888;
  margin-right: 0.5rem;
}

.inPut {
  flex: 1;
  border: none !important;
  outline: none;
  font-size: 0.9rem;
  color: #333;
  background: transparent;
}
